body {
  background-color: #424759;
}
.slide {
  background-color: #FAE7AF;
  color: #E64040;
  border: none;
  margin: none;
}

a { text-decoration: none; color: #801734; }
a:visited { text-decoration: none; color: #801734; }

#footer {
  background-color: #FB9943 !important;
}

code {
  padding: 0 0.25em;
  background-color: rgba(209,21,74, 0.25);
  border-radius: 10px;
}

pre code {
  padding: 0px;
  background: none;
  border-radius: auto;
}

pre code.longer {
  font-size: 80%;
}
pre code.longerer {
  font-size: 70%;
}

pre {
  padding: 0.5em 1em;
  background: none;
}

.small {
  font-size: 40%;
}
