@import url(http://fonts.googleapis.com/css?family=Bitter|Inconsolata);

body {
  font-family: 'Bitter', serif;
  background-color: #2B2825;
}
.slide {
  border: none;
  margin: none;
  background-color:#FCF8BC;
  color: #0B8C8F;
}

.content {
  padding: 0px 1em;
}

a { text-decoration: none; color: #D6156C; }
a:visited { text-decoration: none; color: #D6156C; }

#footer {
  background-color: #CACF43 !important;
}

code {
  padding: 0.05em 0.25em;
  background-color: rgba(11,140,143, 0.25);
  border-radius: 10px;
  font-family: 'Inconsolata', sans-serif;
}

pre {
  padding: 0px !important;
}
pre code {
  padding: 0px;
  background: none;
  border-radius: auto;
}

pre code.longer {
  font-size: 80%;
}
pre code.longerer {
  font-size: 70%;
}

pre {
  padding: 0.5em 1em;
  background: none;
}

.small {
  font-size: 40%;
}
